  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for([@restaurant, @review]) do |t| %>
          <%= t.input :content %>
          <%= t.input :rating %>
          <%= t.submit class: 'btn btn-primary w-100' %>
      <% end %>
    </div>
    <%= link_to "Go back to restaurant", restaurant_path %>
  </div>

  